# Unreal generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio
*.sln
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs/temp
*.log
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# Keep Unreal project files
!Source/
!Content/
!Config/
!Plugins/
!*.uproject